@import './../../../assets/styles/helpers';

.users-list {
    @include my(2rem);
    
    &-grid {
        display: flex;
        align-content: stretch;
        flex-wrap: wrap;
        gap: 2rem;
        
        &-item {
            position: relative;
            flex: calc(50% - 1rem);
        }
    
        &-main {
            flex: 100%;
        }
    }
}
