@import "./../../../assets/styles/helpers";

.login {
    @include flex-center();
    position: relative;
    background: url("./../../../assets/images/login-background.jpg") center no-repeat;
    background-size: cover;
    text-align: center;
    @include height(100vh, auto);
    @include width(100vw, auto);

    &::after {
        content: '';
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        @include hw(100%);
        background-color: rgba($blue, .85);
    }
    
    &-content {
        @include padding(1.5rem, 1.5rem);
        position: relative;
        z-index: 10;
        @include my(10vh);
        background-color: $white;
        width: 100%;
        max-width: 450px;
        @include border-radius(6px);
    }
    
    &-title {
        @include my(0, 2rem);
        text-align: center;
        line-height: 0;
    }
    
    &-subtitle {
        @include my(0);
        text-align: center;
        color: $dark;
    }
    
    &-link {
        display: inline-block;
        @include my(2rem, 0);
        color: $dark;
        
        &:hover,
        &:focus {
            transition: color .2s ease-in-out;
            outline: none;
            color: $blue;
        }
    }
    
    & .validation-error {
        display: block;
        @include border-radius(6px);
        @include my(2rem, 0);
        @include padding(.5rem, 1rem);
        color: $white;
        background-color: $red;
    }
    
    & .form {
        @include my(2rem, 0);
        
        &-group {
            @include my(0, 1rem);
    
            & label {
                display: block;
                @include font-size(14);
                @include my(0, .5rem);
                user-select: none;
            }
            
            & input {
                @include border-radius(6px);
                border: 1px solid $grey;
                width: 100%;
                @include font-size(16);
                @include padding(8px, 20px);
                
                &:hover,
                &:focus {
                    transition: all .2s ease-in-out;
                    border-color: $blue;
                    outline: none;
                }
            }
        }
        
        &-group-checkbox {
            @include flex-center-horizontal();
            align-items: center;
            @include my(0, 1rem);
    
            & label {
                display: inline-block;
                @include font-size(16);
                user-select: none;
                cursor: pointer;
            }
            
            & input {
                @include mx(.5rem, 0);
                @include hw(16px);
                cursor: pointer;
            }
        }
        
        &-field-error {
            border-color: $red !important;
        }
        
        &-error {
            display: inline-block;
            @include font-size(14);
            @include my(.5rem, 0);
            color: $red;
        }
        
        &-button {
            @include flex-center-horizontal();
            align-items: center;
            background-color: $blue;
            color: $white;
            @include font-size(16);
            @include padding(8px, 25px);
            @include mx(auto);
            
            &.disabled {
                user-select: none;
                pointer-events: none;
                @include opacity(.5);
            }
            
            & span {
                @include mx(0, .5rem);
            }
        }
    }
}
