@import '../../../assets/styles/helpers';

.login-page {
  @include height(100vh, 100%);
  position: relative;
  background-image: url('../../../assets/images/login-background.jpg');
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  z-index: 20;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    @include box(100%);
    background-color: rgba($white, .85);
  }

  & .container {
    @include flex-center-vertical();
  }

  & .page-logo {
    position: relative;
    z-index: 15;
    @include my(25px, 35px);
    @include mx(auto);
  }

  & .login-card {
    position: relative;
    z-index: 15;
    background-color: $white;
    @include border-radius(12px);
    @include mx(auto);
    @include my(0, 25px);
    @include px(25px);
    @include py(25px);
    box-shadow: 0 0 15px 15px rgba($black, .05);

    @include tablet {
      @include width(auto, 75vw);
    }

    @include notebook {
      @include width(auto, 55vw);
    }

    @include laptop {
      @include width(auto, 40vw);
    }

    @include desktop {
      @include width(auto, 30vw);
    }

    &-title {
      @include my(0, auto);
      text-align: center;
      @include font-size(32, $font-bold);
    }

    &-subtitle {
      @include my(15px, 0);
      text-align: center;
      color: rgba($black, .65);
    }
  }

  & .login-form {
    @include my(25px, 0);
    text-align: center;

    &-group {
      @include flex-column();
      align-items: flex-start;
      @include my(0, 25px);

      &:first-of-type {
        @include my(0, 15px);
      }

      &:last-of-type {
        align-items: center;

        @include tablet {
          justify-content: space-between;
          align-items: flex-start;
          flex-direction: row;
        }
      }
    }

    &-label {
      @include font-size(14);
      @include my(0, 5px);
      @include mx(15px);
    }

    &-input-group {
      @include width(100%);
    }

    &-input {
      width: inherit;

      &-error {
        &:focus,
        &:enabled:hover {
          border-color: $brick;
          box-shadow: 0 0 0 0.2rem rgba($red, .5);
        }
      }
    }

    &-error {
      @include width(100%);
      @include my(10px, 0);
    }

    &-checkbox {
      @include flex-center-horizontal();
      @include my(0, 15px);

      @include tablet {
        @include my(0);
      }

      & .login-form-label {
        @include mx(5px);
        @include my(0);
      }
    }

    &-forgot {
      @include font-size(14);
    }

    &-button {
      @include mx(auto);
    }
  }
}
