$poppins-font: 'Poppins', sans-seif;

$font-light: 300;
$font-regular: 400;
$font-bold: 600;
$font-italic: italic;
$font-normal: normal;

$white: #ffffff;
$black: #000000;

// Basic theme colors
$brick: rgba(114, 28, 36, 1);
$red: rgba(220, 53, 69, 1);

