$poppins-font: 'Poppins', sans-seif;

$font-light: 300;
$font-regular: 400;
$font-bold: 600;
$font-italic: italic;
$font-normal: normal;

$white: #ffffff;
$black: #000000;

// Basic theme colors
$snow: rgba(239, 239, 239, 1);
$grey: rgba(222, 226, 230, 1);
$silver: rgba(173, 181, 189, 1);
$dark: rgba(52, 58, 64, 1);
$night: rgba(33, 37, 41, 1);
$brick: rgba(114, 28, 36, 1);
$red: rgba(220, 53, 69, 1);
$sky: rgba(105, 165, 254, 1);
$blue: rgba(0, 123, 255, 1);
$yellow: rgba(255, 217, 101, 1);
$gold: rgba(255, 193, 7, 1);
$lime: rgba(112, 181, 149, 1);
$green: rgba(25, 135, 84, 1);
