@import './../../../assets/styles/helpers';

.overlay {
    @include hw(100vh, 100vw);
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($black, .75);
    z-index: 100;
    
    &-content {
        position: relative;
        @include flex-center();
        align-items: center;
        @include hw(inherit);
        @include padding(4rem, 2rem);
        box-sizing: border-box;
    }
}

.edit-user {
    @include border-radius(14px);
    background-color: $white;
    width: 35vw;
    min-width: 400px;
    max-width: 800px;
    @include padding(1.5rem, 1.5rem);
}
