@import './../../../assets/styles/helpers';

.user-card {
    display: flex;
    align-items: center;
    background-color: $white;
    @include padding(1rem, 2rem);
    @include border-radius(8px);
    box-shadow: 4px 4px 0 0 rgba($dark, .15);
    transition: all .1s ease-in-out;
    @include height(150px, auto);
    cursor: pointer;
    
    &:hover,
    &:focus {
        transform: translateY(-.5rem);
        box-shadow: none;
        outline: none;
    }
    
    &-photo {
        @include mx(0, 2rem);
        
        & > img {
            @include border-radius(50%);
            @include hw(80px);
        }
    }
    
    &-data {
    
    }
    
    &-name {
        @include flex-center-vertical();
        @include font-size(18, $font-bold);
        @include my(0);
    }
    
    &-status {
        @include font-size(14, $font-regular);
        @include my(.25rem, 0);
        
        &-active {
            color: $green;
        }
        
        &-inactive {
            color: $red;
        }
    }
    
    &-role {
        @include font-size(14, $font-regular);
        color: $dark;
    }
    
    &-date {
        @include font-size(14);
        @include my(1rem, 0);
        color: $dark;
    }
    
    &-time {
        color: $blue;
    }
    
    &-detail-time {
        position: relative;
        color: rgba($night, .7);
        @include mx(.5rem, 0);
        
        &::before {
            content: '(';
        }
        
        &::after {
            content: ')';
        }
    }
}
