@import '../../../../assets/styles/helpers';

.navbar {
    background-color: $white;
    @include hw(60px, 100%);
    
    &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include hw(60px, auto);
    }
    
    &-logo {
        display: flex;
        align-items: center;
        @include my(0);
        line-height: 1;
    }
    
    &-image {
        height: 35px;
    }
    
    &-menu {
        display: flex;
        align-items: center;
    }
    
    & .menu {
        position: relative;
        display: flex;
        align-items: center;
        list-style: none;
        @include my(0);
        @include px(0, 1.5rem);
        @include mx(0, 1.5rem);
        
        &::after {
            content: '';
            position: absolute;
            top: -5px;
            right: 0;
            @include hw(35px, 1px);
            background-color: $grey;
        }
        
        &-item {
            @include mx(1.5rem, 0);
        }
        
        &-link {
            color: rgba($dark, .8);
            transition: color .1s ease-in-out;
            
            &:focus,
            &:hover {
                color: $blue;
                outline: none;
                border: 0;
            }
        }
    }
    
    &-user {
        display: flex;
        align-items: center;
    }
    
    &-button-logout {
        background-color: $red;
        color: $white;
        @include mx(1.5rem, 0);
        @include font-size(15);
        @include padding(5px, 15px);
        transition: background-color .1s ease-in-out;
        
        &:hover,
        &:focus {
            background-color: $brick;
        }
    }
}
