@import './helpers';
@import './utils';

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: $poppins-font;
    @include font-size(16);
    @include mx(0);
    @include my(0);
}

a {
    color: $blue;
    text-decoration: none;
    
    &:active {
        color: $blue;
    }
}

label,
button,
input,
textarea,
select,
option {
    font-family: $poppins-font;
}

.container {
    @include height(inherit, 100%);
    @include mx(32px);
    
    @include tablet {
        @include width(auto, 720px);
        @include mx(auto);
    }
    
    @include notebook {
        @include width(auto, 960px);
    }
    
    @include laptop {
        @include width(auto, 85vw);
    }
    
    @include desktop {
        @include width(auto, 75vw);
    }
    
    &-fluid {
        @include mx(32px);
    }
}
